<footer class="site-footer slanted-footer">
    <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
    </a>
    <div class="container">
        <div class="row mb-5">
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Scenic Products</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Graphic Design</a></li>
                    <li><a href="#">Web Developers</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Company</h3>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Support</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3 mb-4 mb-md-0">
                <h3>Contact Us</h3>
                <div class="footer-social">
                    <a href="#"><span class="icon-facebook"><i class="fab fa-facebook-f"></i></span></a>
                    <a href="#"><span class="icon-twitter"><i class="fab fa-twitter"></i></span></a>
                    <a href="#"><span class="icon-instagram"><i class="fab fa-instagram"></i></span></a>
                    <a href="#"><span class="icon-linkedin"></span><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <p class="copyright"><small class="block">

                        Copyright ©
                        <script type="text/javascript" async=""
                            src="https://www.google-analytics.com/analytics.js"></script>
                        <script type="text/javascript">document.write(new Date().getFullYear());</script>2020 All rights
                        reserved | This template is made with

                    </small></p>
            </div>
        </div>
    </div>
</footer>